<div class="container-sm container-md container-lg container-xl container-xxl">
  <div class="bg-white p-4 mt-5">
    <h2>Download Agreement</h2>
    <form *ngIf="form!==undefined" [formGroup]="form">
      <ng-container>
        <div>
          <hcm-input
            [label]="'Customer'"
            [required]="true"
            [type]="'text'"
            [placeholder]="'Enter Customer Id'"
            [control]="customerControl"
          ></hcm-input>

          <hcm-datepicker
            [isRequired]="true"
            [label]="'From Date'"
            [placeholderText]="'Enter From Date'"
            (getSelectedDate)="getFromDate($event)"
          ></hcm-datepicker>

          <hcm-datepicker
            [isRequired]="true"
            [label]="'To Date'"
            [placeholderText]="'Enter To Date'"
            (getSelectedDate)="getToDate($event)"
          ></hcm-datepicker>

          <hcm-button
            [label]="'Download'"
            [variant]="'primary'"
            (onButtonClick)="onSubmit()"
          ></hcm-button>

        </div>

      </ng-container>


    </form>
  </div>
</div>

