<div class="container-sm container-md container-lg container-xl container-xxl d-flex justify-content-center min-vh-80 mt-4">
  <div class="w-100 main-div">
    <h2 class="mb-4 text-center">Create Agreement</h2>

    <form [formGroup]="form">
      <!-- Customer Id -->
      <div class="mb-3">
        <hcm-input
          [label]="'Customer_Id'"
          [required]="true"
          [type]="'text'"
          [placeholder]="'Enter Customer Id'"
          [control]="customerIdControl">
        </hcm-input>
      </div>

      <!-- Start Date -->
      <div class="mb-3">
        <hcm-datepicker
          [isRequired]="true"
          [label]="'Start Date'"
          [placeholderText]="'Enter Start Date'"
          (getSelectedDate)="selectedStartDate($event)">
        </hcm-datepicker>
      </div>

      <!-- Expiry Date -->
      <div class="mb-3">
        <hcm-datepicker
          [isRequired]="true"
          [label]="'Expiry Date'"
          [placeholderText]="'Enter Expiry Date'"
          (getSelectedDate)="selectedExpiryDate($event)">
        </hcm-datepicker>
      </div>

      <!-- Amount -->
      <div class="mb-4">
        <hcm-input
          [required]="true"
          [type]="'number'"
          [label]="'Amount'"
          [placeholder]="'Enter Amount'"
          [control]="amountControl">
        </hcm-input>
      </div>

      <div class="mb-4">
        <hcm-checkbox
          [label]="'Auto Renewal'"
          (onChange)="changeValue($event)"
        ></hcm-checkbox>
      </div>


      <!-- Action Buttons -->
      <div class="d-flex justify-content-center">
        <hcm-button
          [label]="'Submit'"
          [variant]="'primary'"
          (onButtonClick)="onSubmit()">
        </hcm-button>
      </div>

    </form>
  </div>
</div>
