<div class="row mt-3">
  <div class="col-12">
    <div class="d-flex tab-container">

      <!-- Customer ID Input -->
      <div class="col-4">
        <hcm-input
          [type]="'text'"
          [label]="'Customer ID'"
          [required]="true"
          [placeholder]="'Enter Customer ID'"
          (onEnter)="getCustomerData()"
        ></hcm-input>
      </div>

      <!-- Buttons -->
      <div class="col-3 d-flex flex-column gap-2">
        <hcm-button
        [label]="agreementLabel"
        [variant]="'ghost'"
        [disabled]="false"
        (onButtonClick)="onAgreementClick()"
        ></hcm-button>

        <hcm-button
          [label]="reportLabel"
          [variant]="'ghost'"
          [disabled]="false"
          (onButtonClick)="onReportClick()"
        ></hcm-button>
      </div>
    </div>
  </div>
  <hcm-modal [toggleModal]="createAgreement" (onClose)="onCloseModal()">
    Agreement Form
  </hcm-modal>
  <hcm-modal [toggleModal]="createReport" (onClose)="onCloseModal()">
    Report Form
  </hcm-modal>
</div>

<!-- Card containing the hcm-grid -->
<div class="card mt-4">
  <div class="card-body">
    <hcm-grid
      [isSearchRequired]="false"
      [isFilterRequired]="false"
      [isButtonRequired]="false"
      [isRowCountRequired]="false"
      [tableType]="'default'"
      [configColumn]="configColumn"
      [tableData]="tableData"
      [stickyHeader]="true">
    </hcm-grid>
  </div>
</div>
